[submodule "derivgrind/externals/pybind11"]
	path = derivgrind/externals/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "derivgrind/externals/CoDiPack"]
	path = derivgrind/externals/CoDiPack
	url = https://github.com/SciCompKL/CoDiPack.git
[submodule "derivgrind/externals/flexible-shadow"]
	path = derivgrind/externals/flexible-shadow
	url = https://github.com/maxaehle/flexible-shadow.git
[submodule "derivgrind/externals/eigen"]
	path = derivgrind/externals/eigen
	url = https://gitlab.com/libeigen/eigen.git
